
    <section class="">
    <footer class="text-center text-white" style="background-color:rgb(6, 24, 13);">
  
      <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
      </div>
    </footer>
  </section>
  <script src="function.js" defer></script>
</body>
</html>